In [5]:
from sklearn.datasets import make_regression
from typing import Optional
from ARD.ARDRegressor import ARDRegressor
import numpy as np

In [6]:
%load_ext autoreload
%autoreload 2

In [50]:
import pandas as pd


X, y, coef = make_regression(
    n_samples=1000,
    n_features=10,
    n_informative=3,
    noise=1.0,
    coef=True,
    random_state=2022,
)

result = pd.DataFrame({"w_true": coef.reshape(-1)})
for i in [1, 2, 3, 5, 8, 13, 21, 34, 55]:
    regressor = ARDRegressor(n_iterations=i)
    regressor.fit(X, y)
    result[f"w, iter={i}"] = regressor.w_.reshape(-1)
display(result)

,w_true,"w, iter=1","w, iter=2","w, iter=3","w, iter=5","w, iter=8","w, iter=13","w, iter=21","w, iter=34","w, iter=55"
0,0.000000,0.052049,0.037102,0.026130,0.006300,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,-0.001108,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,93.527186,93.419498,93.510783,93.510328,93.509707,93.509516,93.509516,93.509516,93.509516,93.509516
3,0.000000,-0.009597,-0.001188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,53.832016,53.686439,53.743593,53.744140,53.744737,53.744913,53.744913,53.744913,53.744913,53.744913
5,89.294912,89.215671,89.299548,89.299491,89.299700,89.299777,89.299777,89.299777,89.299777,89.299777
6,0.000000,-0.013271,-0.000774,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.006065,0.000159,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.002277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.025622,0.010126,0.001499,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [53]:
import pandas as pd


X, y, coef = make_regression(
    n_samples=100,
    n_features=10,
    n_informative=10,
    noise=1.0,
    coef=True,
    random_state=2022,
)

result = pd.DataFrame({"w_true": coef.reshape(-1)})
for i in [1, 2, 3, 5, 8, 13, 21, 34, 55]:
    regressor = ARDRegressor(n_iterations=i)
    regressor.fit(X, y)
    result[f"w, iter={i}"] = regressor.w_.reshape(-1)
display(result)

,w_true,"w, iter=1","w, iter=2","w, iter=3","w, iter=5","w, iter=8","w, iter=13","w, iter=21","w, iter=34","w, iter=55"
0,26.932597,26.625873,26.922003,26.922331,26.922327,26.922327,26.922327,26.922327,26.922327,26.922327
1,16.721412,16.273073,16.474469,16.475400,16.475400,16.475400,16.475400,16.475400,16.475400,16.475400
2,6.560967,6.499648,6.540052,6.542495,6.542501,6.542501,6.542501,6.542501,6.542501,6.542501
3,48.839742,48.391101,48.860801,48.860650,48.860646,48.860646,48.860646,48.860646,48.860646,48.860646
4,30.185907,29.858224,30.143925,30.144269,30.144270,30.144270,30.144270,30.144270,30.144270,30.144270
5,19.676954,19.540772,19.778793,19.779070,19.779065,19.779065,19.779065,19.779065,19.779065,19.779065
6,73.094679,72.465623,73.156547,73.156261,73.156255,73.156255,73.156255,73.156255,73.156255,73.156255
7,2.120164,2.228057,2.040706,2.045826,2.045875,2.045875,2.045875,2.045875,2.045875,2.045875
8,60.033068,59.227574,59.837347,59.837288,59.837289,59.837289,59.837289,59.837289,59.837289,59.837289
9,13.323137,13.184881,13.358721,13.359737,13.359736,13.359736,13.359736,13.359736,13.359736,13.359736